In [51]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm

In [52]:
disease_map_dict = {
    '1' : '1', # 암
    '2' : '2', # 근골격계
    '3' : '3', # 소화계
    '4' : '3', # 소화계
    '5' : '4', # 내분비계
    '6' : '4', # 내분비계
    '7' : '5', # 심혈관계
    '8' : '5', # 심혈관계
    '9' : '5', # 심혈관계
    '10' : '6', # 호흡계
    '11' : '6', # 호흡계
    '12' : '6', # 호흡계
    '13' : '7', # 기타
    '14' : '7', # 기타
    '15' : '8', # 배설계
    '16' : '2', # 근골격계
    '17' : '2', # 근골격계
    '20' : '7', # 기타 
    # 오탈자 처리
    '133' : '7', # 133 -> 13
    '112' : '6' # 112 -> 12
}

In [49]:
data=pd.read_csv("./out.csv")
data.head()

,일련번호,이름,성별,만나이,생년월일,학력,학력이수,주소,사업체 위치,직종,...,월평균생활비,년간 경조사비,월평균저축액,금융자산총액,부채잔액,혼인상태,종교,규정연월차수,유급휴가 사용일수,질병경험
0,1,이XX,여,90,1932-12-XX,5,1,대구광역시 동구,대구광역시 북구,3,...,3000000,0,0,0,0,2,4,999,999,|||||||||||||||||
1,2,김XX,남,60,1962-07-XX,5,1,대전광역시 중구,대전광역시 중구,2,...,1200000,0,0,0,140000000,2,2,999,999,|||||||||||||||||
2,3,조XX,남,70,1952-11-XX,7,1,인천광역시 계양구,인천광역시 강화군,8,...,2500000,0,0,0,0,2,1,999,999,|||||||||||||||||
3,4,전XX,남,50,1972-05-XX,5,1,대구광역시 동구,대구광역시 서구,3,...,3000000,0,0,0,80000000,2,1,999,999,|||||||||||||||||
4,5,김XX,여,50,1972-02-XX,5,1,대구광역시 달성군,대구광역시 동구,4,...,2500000,0,0,0,0,2,1,10,5,|||||||||||||||||

In [53]:
for i in tqdm(range(len(data['질병경험'])), total=len(data['질병경험'])):
    tmp_list = data['질병경험'][i].split('|')
    while '' in tmp_list:
        tmp_list.remove('')
    if len(tmp_list) == 0:
        data['질병경험'][i] = '|||||||'
    else:
        new_list = []
        for ele in tmp_list:
            new_list.append(disease_map_dict[ele])
        new_set = set(new_list)
        ori = ['','|','','|','','|','','|','','|','','|','','|','']
        for ele in new_set:
            ori[2*(int(ele)-1)] = ele
        out = ''.join(ori)
        data['질병경험'][i] = out

  0%|          | 0/100000 [00:00<?, ?it/s]/tmp/ipykernel_19260/3213844202.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['질병경험'][i] = '|||||||'
/tmp/ipykernel_19260/3213844202.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['질병경험'][i] = out
100%|██████████| 100000/100000 [00:18<00:00, 5460.29it/s]

In [54]:
data.to_csv("./dss.csv",index=False)
data.to_excel("./dss.xlsx",index=False)